body {
    color: #E4DCC8;
}




a {
    text-decoration: none;
    color: #8B4512;
    font-family: "Space Mono", monospace;

}



.context a{
    font-family: "Space Mono", monospace;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
    color: #8B4512;
    display: flex;
    margin-left: 10%;
    margin-top: 8%;
}


.nav{
    display:flex;
    justify-content: space-between;
 }


 @media(max-width: 768px) {
    
 }