body {
    margin: 5%;
    background-color: #F4EDE3;
}

h1 {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #341C11;
    font-size: 128px;


}

p {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;



}

.home p {
    color: #341C11;
    Font-size: 16px;
}


img {
    max-width: 50%;
    height: auto;
}

.footer1 {
    color: #C35D1B;
    Font-size: 12px;
    width: 40%;
    margin-bottom: 0%;
    


}



.phone {
    display: none;

}

.laptop {
    display: flex;

}




@media(max-width: 768px) {


    .phone {
        display: inline;

    }

    .laptop {
        display: none;
    }

    body {
        margin: 6%;
        background-color: #F4EDE3;
    }

    h1 {
        font-family: "Barriecito", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #341C11;
        font-size: 75px;


    }

    p {
        font-family: "Space Mono", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        line-height: normal;


    }

    .room p {
        color: #341C11;
        font-size: 12px;

    }


    img {
        max-width: 95%;
        height: auto;
        justify-content: center;
    }

    .footer2 {
        color: #4B7890;
    }

}