
body{
    background-color: #D75E1B;
    
}
body.orange{
    background-color: #4A7991;
}


#bluechair{
    width: 25vw;
    position: absolute;
    top: 20vh;
    left: 37vw;
}

#orangechair{
    width: 25vw;
    position: absolute;
    top: 20vh;
    left: 37vw;
}

body #orangechair{
   display: none;
}
body.orange #orangechair{
   display: flex;
   
}

body.orange #bluechair{
   display: none;
}

button{
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 9vh;
    left: 5vw;
    cursor: pointer;
    animation: move;
    animation-duration: 30s; 
    
    animation-iteration-count: infinite; 
    animation-fill-mode: forwards;

    
}


@keyframes move {
  0% {
    left: 0vw;
    bottom: 0vh;
  }


25% {
    left: 100vw;
    bottom: 50vh;
    
  }
    

  
  50% {
    left: 0vw;
    bottom: 100vh;
    
  }


   
  75% {
    left: 50vw;
    bottom: 0vh;
    
  }




  100% {
    left: 100vw;
    bottom: 50vh;
    
  }
}



#button
{
    width: 5vw;
}





@media (max-width: 768px) {
   
    #bluechair, #orangechair {
        width: 45vw;
        left: 25vw;
        top: 25vh;
    }

    #button {
        width: 9vw;
    }

    button{
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 6vh;
    left: 10vw;
    cursor: pointer;
    
}
}


